@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');

$family-serif: 'Bitter', serif;
$family-sans-serif: $family-serif;
$subtitle-weight: 400;
$primary: $grey-dark;
$info: $grey-light;

@import '../../node_modules/bulma/bulma.sass';

html {
  background: url('../assets/bg_full.jpg') top right no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
